@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
 width: 100%;
 height: 100px;
 background-color: white;
 display: flex; 
 font-weight: bold;
 font-size: 14px;
 box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.left-header img{
    width: 49px;
    height: 49px;
    margin-left: 39px;
    margin-top: 25px;
}

.left-header{
    background-color: white;
    height: 100%;
    width: 133px;
   
}

.middle-header{
    background-color: white;
    height: 100%;
    width: 67%;
    display: flex;
    align-items: center;
}

.middle-header a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.header a:hover{
    color: #37665a;
    transition: 0.1s;
}

.right-header{
    height: 100%;
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;    
}

.right-header a{
    text-decoration: none;
    color: black;
}

.right-header img{
    width: 23px;
    margin-left: 15px;
}

.sign-in-button{
    margin-right: 25px;
    margin-left: 60px;
    font-weight: bold;
    width: 84px;
    height: 32px;
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
}

.sign-in-button:hover{
    background-color: rgb(236, 236, 236);
    transition: 0.3s;
}

.join-now-button{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 84px;
    height: 32px;
    border-radius: 20px;
    border-width: 1px;
}

.join-now-button:hover{
    background-color: rgb(68, 68, 68);
    transition: 0.3s;
    
}

#outerbox{
    margin-top: 3px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(255, 255, 255);
    height: 2473px;
    width: 100%;
}

#row1{display: flex;}

#row2{display: flex;}

#row3{display: flex;}

#row4{display: flex;}

#row5{display: flex;}

#left1{
    margin-top: 30px;
    height: 420px;
    width: 50%;
    float: left;
    background-color: #41b6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1e3932;
}

#left1 button{
    font-weight: bold;
    font-size: 16px;
    width: 125px;
    height: 38px;
    border-radius: 20px;
    border-width: 1px;
    background-color: #41b6e6;
    color: #1e3932;
}

#left1 button:hover{
    background-color: rgba(94, 142, 177, 0.438);
    transition: 0.3s;
}

#left1 h3{
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    line-height: 2;
}

#right1 img{
    margin-top: 30px;
    height: 420px;    
}

#left2 img{
    height: 210px;
    margin-top: 30px;
}

#right2{
    height: 210px;
    float: left;
    margin-top: 30px;
    background-color:  #1e3932;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right2 h3{
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    line-height: 2;
    color: white;
}

#right2 button{
    font-weight: bold;
    font-size: 16px;
    width: 210px;
    height: 38px;
    border-color: white;
    border-radius: 20px;
    border-width: 1px;
    background-color: #1e3932;
    border: 1px solid white;
    color: white
}

#right2 button:hover{
    background-color: #274940;
    transition: 0.3s;
}


#left3{
    height: 625px;
    width: 50%;
    float: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f06464;
}

#left3 h3{
    font-size: 24px;
    font-weight: 570;
    text-align: center;
    line-height: 2;
    color: white;
    line-height: 1.6em;
}

#left3 h1{
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 1.1em;
}

#left3 button{
    font-weight: bold;
    font-size: 16px;
    width: 169px;
    height: 38px;
    border-color: white;
    border-radius: 20px;
    border-width: 1px;
    background-color: #f06464;
    border: 1px solid white;
    color: white;
    
}

#left3 button:hover{
    background-color: #f17979;
    transition: 0.3s;
}


#right3 img{
    height: 625px;
    margin-top: 30px;
}

#left4 img{
    height: 625px;
    margin-top: 30px;
}

#right4 {
    height: 625px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    float: left;
    background-color: #9bf5b4;
}

#right4 h1{
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 1.1em;
    color: #1e3932;
}

#right4 h3{
    color: #1e3932;
    font-size: 24px;
    font-weight: 570;
    text-align: center;
    line-height: 2;
    line-height: 1.6em;
}

#right4 button{
    font-weight: bold;
    font-size: 16px;
    width: 122px;
    height: 38px;
    border-color: #1e3932;
    border-radius: 20px;
    border-width: 1px;
    background-color: #9bf5b4;
    color: #1e3932
    
}

#right4 button:hover{
    background-color: #79c38e;
    transition: 0.3s;
}


#left5{
    margin-top: 30px;
    background-color: #d4e9e2;
    height: 420px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left5 h2{
    color: #000000;
}

#left5 h3{
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    line-height: 2;
    color: #000000;
}

#left5 button{
    font-weight: bold;
    font-size: 16px;
    width: 125px;
    height: 38px;
    border-radius: 20px;
    border-width: 1px;
    background-color: #d4e9e2;
    color: #1e3932;
    border: 1px solid black;
}

#left5 button:hover{
    background-color: #c7dcd4;
    transition: 0.3s;
}


#right5 img{
    margin-top: 30px;
    height: 420px;
}

#pre-footer{
    height: 147px;
    text-align: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pre-footer h5{
    line-height: 1.8em;
    font-weight: 500;
    font-weight: 500;
}

#pre-footer a{
    text-decoration: none;
    color: #000;
    text-decoration: underline;
}

#pre-footer a:hover{
    text-decoration: none;
    color: #000;
}

#mid-footer{
    padding-left: 25px;
    margin-top: 10px;
    height: 327px;
    background-color: #ffffff;
    display: flex;
}

#mid-footer li{
    color:  rgba(0,0,0,.58);
    margin: 15px;
    list-style: none;
    font-size: 14px;
}

#footer1,#footer2,#footer3,#footer4,#footer5{
    margin-right: 40px;
}

#footer1 li:hover,#footer2 li:hover,#footer3 li:hover,#footer4 li:hover,#footer5 li:hover{
    color: #000000;
}

#footer{
    padding: 40px;
    height: 220px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

#social{
    background-color: #ffffff;
    width: 100%;
}

#social img{
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

#links a{
    text-decoration: none;
    color: #000;
    margin-right: 38px;
    font-size: 14px;
}

#links a:hover{
    text-decoration: underline;
}

#bottom-footer h5{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 100;
    color:#1e3932;
}














